# Application des SGWT ﾃ la prﾃｩdiction du nombre de dﾃｩcﾃｨs par rﾃｩgion en France

In [1]:
#Import des packages
import pandas as pd
from pathlib import Path
from IPython.display import display, Markdown

In [2]:
#Import de nos fonctions provenant du fichier tools.py
#Relancer ﾃ chaque modification du fichier Tools
import importlib, Tools
importlib.reload(Tools)

# 1. Construction de notre base de donnﾃｩes

### 1.1 Import des donnﾃｩes

In [3]:
#2018 : 
sep=";"
chemin2018= Path("C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/DC_2018_det.csv").resolve()
Base2018= Tools.import_csv(chemin2018,sep)

### 汳 Dimensions du dataset

(609937, 11)

### 汳 Visualisation des 5 premiﾃｨres lignes

,ADEC,MDEC,JDEC,DEPDEC,COMDEC,ANAIS,MNAIS,JNAIS,SEXE,COMDOM,LIEUDEC2
0,2018,1,1,974,97416,1925,10.0,20.0,F,97401,HopCli
1,2018,1,1,01,01034,1945,5.0,29.0,M,01034,HopCli
2,2018,1,1,02,02173,1963,7.0,6.0,M,02173,Non renseigne
3,2018,1,1,02,02691,1925,4.0,5.0,M,80811,HopCli
4,2018,1,1,02,02691,1929,10.0,22.0,F,80284,HopCli

In [4]:
#2019:
chemin2019= Path("C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/DC_2019_det.csv").resolve()
Base2019= Tools.import_csv(chemin2019,sep)

### 汳 Dimensions du dataset

(613409, 11)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ADEC  MDEC  JDEC DEPDEC COMDEC  ANAIS  MNAIS  JNAIS SEXE COMDOM LIEUDEC2
0  2019     1     1    974  97416   1933   10.0   29.0    M  97416    Logem
1  2019     1     1     01  01004   1926    3.0   18.0    M  01004   HopCli
2  2019     1     1     01  01451   1917    7.0   11.0    F  01074   HopCli
3  2019     1     1     02  02361   1934    3.0   27.0    F  02691   HopCli
4  2019     1     1     02  02408   1934    5.0   15.0    F  02553   HopCli

In [5]:
#2020:
chemin2020= Path("C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/DC_2020_det.csv").resolve()
Base2020= Tools.import_csv(chemin2020,sep)

### 汳 Dimensions du dataset

(669154, 11)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ADEC  MDEC  JDEC DEPDEC COMDEC  ANAIS  MNAIS  JNAIS SEXE COMDOM LIEUDEC2
0  2020     1     1     01  01014   1977    9.0   21.0    M  39283   Autres
1  2020     1     1     01  01053   1922    9.0   28.0    F  01053   HosMar
2  2020     1     1     01  01102   1995    3.0   11.0    M  01102    Logem
3  2020     1     1     01  01179   1937    4.0    9.0    F  01179    Logem
4  2020     1     1     01  01283   1930    8.0    5.0    F  01283   HopCli

In [6]:
#2021:
chemin2021= Path("C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/DC_2021_det.csv").resolve()
Base2021= Tools.import_csv(chemin2021,sep)

### 汳 Dimensions du dataset

(661778, 11)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ADEC  MDEC  JDEC DEPDEC COMDEC  ANAIS  MNAIS  JNAIS SEXE COMDOM LIEUDEC2
0  2021     1     1     01  01010   1939   11.0    8.0    F  01010    Logem
1  2021     1     1     01  01034   1939    7.0   25.0    M  01058   HopCli
2  2021     1     1     01  01053   1949    6.0   23.0    F  01053   HosMar
3  2021     1     1     01  01053   1966   11.0   15.0    F  01350   HopCli
4  2021     1     1     01  01068   1927    6.0    NaN    F  01068   HosMar

In [7]:
#2022&2023:
chemin2022_2023= Path("C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/DC_20222023_det.csv").resolve()
Base2022_2023= Tools.import_csv(chemin2022_2023,sep)

### 汳 Dimensions du dataset

(1313537, 11)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ADEC  MDEC  JDEC DEPDEC COMDEC  ANAIS  MNAIS  JNAIS SEXE COMDOM LIEUDEC2
0  2022     1     1     01  01004   1927   10.0   29.0    F  01384   HopCli
1  2022     1     1     01  01004   1947    8.0   31.0    F  01041   HopCli
2  2022     1     1     01  01032   1929    1.0    5.0    F  01151   HosMar
3  2022     1     1     01  01034   1931    7.0    3.0    F  01034   HopCli
4  2022     1     1     01  01093   1931    3.0    5.0    F  01093    Logem

In [8]:
#Check fiabilitﾃｩ du nombre de donnﾃｩe : 
Marge_erreur_import=abs((((1313537+661778+669154+613409)-(3258460))/3258460))
print(f"{Marge_erreur_import:.2%}")

0.02%


<div class="alert alert-block alert-warning">
<b> Remarque : </b> <br>
Nos exports ce sont bien dﾃｩroulﾃｩs, on a comparﾃｩ le nombre de mort de 2019 ﾃ 2023 avec le nombre total sur cette pﾃｩriode fourni par les donnﾃｩes thﾃｩorique qu'on avait utilisﾃｩ en dﾃｩbut de projet. L'ﾃｩcart de 0,02% tﾃｩmoigne donc d'une fiabilitﾃｩ dans la source de donnﾃｩe utilisﾃｩe
</div>

In [9]:
#Import de notre base de donnﾃｩes population : 
chemin_Donnﾃｩes_Population= Path("C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/Donnﾃｩes_Population.csv").resolve()
Donnﾃｩes_Population= Tools.import_csv(chemin_Donnﾃｩes_Population,sep)

### 汳 Dimensions du dataset

(84, 3)

### 汳 Visualisation des 5 premiﾃｨres lignes

   Annﾃｩe                  Rﾃｩgion  Population
0   2018     Auvergne-Rhﾃｴne-Alpes   7 994 459
1   2018  Bourgogne-Franche-Comtﾃｩ   2 807 807
2   2018                 Bretagne   3 335 414
3   2018      Centre-Val de Loire   2 572 853
4   2018                    Corse     338 554

<div class="alert alert-block alert-warning">
<b> Remarque : </b> <br>
Lors de la prﾃｩparation sur Excel de CSV celui-ci a dﾃｩjﾃ ﾃｩtﾃｩ recettﾃｩe, voilﾃ pourquoi nous ne re checkons pas ici 
</div>

### 1.2 Montage base de donnﾃｩe finale

In [10]:
#Concatﾃｩnation des bases de donnﾃｩes en une unique base : 
liste=[Base2018,Base2019,Base2020,Base2021,Base2022_2023]
Data1= Tools.full_concatenate(liste,0)

### 汳 Dimensions du dataset

(3867815, 11)

### 汳 Visualisation des 5 premiﾃｨres lignes

,ADEC,MDEC,JDEC,DEPDEC,COMDEC,ANAIS,MNAIS,JNAIS,SEXE,COMDOM,LIEUDEC2
0,2018,1,1,974,97416,1925,10.0,20.0,F,97401,HopCli
1,2018,1,1,01,01034,1945,5.0,29.0,M,01034,HopCli
2,2018,1,1,02,02173,1963,7.0,6.0,M,02173,Non renseigne
3,2018,1,1,02,02691,1925,4.0,5.0,M,80811,HopCli
4,2018,1,1,02,02691,1929,10.0,22.0,F,80284,HopCli

In [11]:
#Check concatﾃｩnation :
Check1 = len(Base2022_2023)+len(Base2021)+len(Base2020)+len(Base2019)+len(Base2018)-len(Data1)
Check1

0

In [12]:
#On va d'abord supprimer nos colonnes inutiles ﾃ l'analyse:
liste=["COMDEC","ANAIS","MNAIS","JNAIS","SEXE","COMDOM","LIEUDEC2","JDEC"]
Data2 = Tools.suppression_colonnes(Data1,liste)

### 汳 Dimensions du dataset

(3867815, 3)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ADEC  MDEC DEPDEC
0  2018     1    974
1  2018     1     01
2  2018     1     02
3  2018     1     02
4  2018     1     02

In [13]:
#Check Data2 :
Check2 = len(Data2)-len(Data1)
Check2

0

In [14]:
#On ajoute une variable Dﾃｩcﾃｨs qui vaut 1 ﾃ chaque ligne
Data2["Dﾃｩcﾃｨs"]=1
print(Data2["Dﾃｩcﾃｨs"].unique())#Check

[1]

In [15]:
#On va crﾃｩer une variable rﾃｩgion : 
#D'abord on importe un dictionnaire des rﾃｩgions en fonction de leur dﾃｩpartement (en numﾃｩrique):
dept_to_region = {
    # ﾃ四e-de-France
    "75": "ﾃ四e-de-France", "77": "ﾃ四e-de-France", "78": "ﾃ四e-de-France",
    "91": "ﾃ四e-de-France", "92": "ﾃ四e-de-France", "93": "ﾃ四e-de-France",
    "94": "ﾃ四e-de-France", "95": "ﾃ四e-de-France",

    # Grand Est
    "08": "Grand Est", "10": "Grand Est", "51": "Grand Est", "52": "Grand Est",
    "54": "Grand Est", "55": "Grand Est", "57": "Grand Est", "67": "Grand Est",
    "68": "Grand Est", "88": "Grand Est",

    # Hauts-de-France
    "02": "Hauts-de-France", "59": "Hauts-de-France", "60": "Hauts-de-France",
    "62": "Hauts-de-France", "80": "Hauts-de-France",

    # Normandie
    "14": "Normandie", "27": "Normandie", "50": "Normandie", 
    "61": "Normandie", "76": "Normandie",

    # Bretagne
    "22": "Bretagne", "29": "Bretagne", "35": "Bretagne", "56": "Bretagne",

    # Pays de la Loire
    "44": "Pays de la Loire", "49": "Pays de la Loire", "53": "Pays de la Loire",
    "72": "Pays de la Loire", "85": "Pays de la Loire",

    # Centre-Val de Loire
    "18": "Centre-Val de Loire", "28": "Centre-Val de Loire", "36": "Centre-Val de Loire",
    "37": "Centre-Val de Loire", "41": "Centre-Val de Loire", "45": "Centre-Val de Loire",

    # Bourgogne-Franche-Comtﾃｩ
    "21": "Bourgogne-Franche-Comtﾃｩ", "25": "Bourgogne-Franche-Comtﾃｩ",
    "39": "Bourgogne-Franche-Comtﾃｩ", "58": "Bourgogne-Franche-Comtﾃｩ",
    "70": "Bourgogne-Franche-Comtﾃｩ", "71": "Bourgogne-Franche-Comtﾃｩ",
    "89": "Bourgogne-Franche-Comtﾃｩ", "90": "Bourgogne-Franche-Comtﾃｩ",

    # Nouvelle-Aquitaine
    "16": "Nouvelle-Aquitaine", "17": "Nouvelle-Aquitaine", "19": "Nouvelle-Aquitaine",
    "23": "Nouvelle-Aquitaine", "24": "Nouvelle-Aquitaine", "33": "Nouvelle-Aquitaine",
    "40": "Nouvelle-Aquitaine", "47": "Nouvelle-Aquitaine", "64": "Nouvelle-Aquitaine",
    "79": "Nouvelle-Aquitaine", "86": "Nouvelle-Aquitaine", "87": "Nouvelle-Aquitaine",

    # Occitanie
    "09": "Occitanie", "11": "Occitanie", "12": "Occitanie", "30": "Occitanie",
    "31": "Occitanie", "32": "Occitanie", "34": "Occitanie", "46": "Occitanie",
    "48": "Occitanie", "65": "Occitanie", "66": "Occitanie", "81": "Occitanie",
    "82": "Occitanie",

    # Auvergne-Rhﾃｴne-Alpes
    "01": "Auvergne-Rhﾃｴne-Alpes", "03": "Auvergne-Rhﾃｴne-Alpes", "07": "Auvergne-Rhﾃｴne-Alpes",
    "15": "Auvergne-Rhﾃｴne-Alpes", "26": "Auvergne-Rhﾃｴne-Alpes", "38": "Auvergne-Rhﾃｴne-Alpes",
    "42": "Auvergne-Rhﾃｴne-Alpes", "43": "Auvergne-Rhﾃｴne-Alpes", "63": "Auvergne-Rhﾃｴne-Alpes",
    "69": "Auvergne-Rhﾃｴne-Alpes", "73": "Auvergne-Rhﾃｴne-Alpes", "74": "Auvergne-Rhﾃｴne-Alpes",

    # Provence-Alpes-Cﾃｴte d'Azur
    "04": "Provence-Alpes-Cﾃｴte d'Azur", "05": "Provence-Alpes-Cﾃｴte d'Azur",
    "06": "Provence-Alpes-Cﾃｴte d'Azur", "13": "Provence-Alpes-Cﾃｴte d'Azur",
    "83": "Provence-Alpes-Cﾃｴte d'Azur", "84": "Provence-Alpes-Cﾃｴte d'Azur",

    # Corse
    "2A": "Corse", "2B": "Corse",

    # Outre-Mer
    "971": "Outre-Mer", "972": "Outre-Mer", "973": "Outre-Mer",
    "974": "Outre-Mer", "976": "Outre-Mer"
}
#On ajoute ensuite notre variable rﾃｩgion au dataset: 
Data2["Rﾃｩgion"] = Data2["DEPDEC"].map(dept_to_region)
print(Data2["Rﾃｩgion"].unique())#Check

['Outre-Mer' 'Auvergne-Rhﾃｴne-Alpes' 'Hauts-de-France'
 "Provence-Alpes-Cﾃｴte d'Azur" 'Grand Est' 'Occitanie' 'Normandie'
 'Nouvelle-Aquitaine' 'Centre-Val de Loire' 'Bourgogne-Franche-Comtﾃｩ'
 'Bretagne' 'Corse' 'Pays de la Loire' 'ﾃ四e-de-France']

In [16]:
liste = ["DEPDEC"]
Data3= Tools.suppression_colonnes(Data2,liste)

### 汳 Dimensions du dataset

(3867815, 4)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ADEC  MDEC  Dﾃｩcﾃｨs                Rﾃｩgion
0  2018     1      1             Outre-Mer
1  2018     1      1  Auvergne-Rhﾃｴne-Alpes
2  2018     1      1       Hauts-de-France
3  2018     1      1       Hauts-de-France
4  2018     1      1       Hauts-de-France

In [17]:
#On renomme notre variable mois en lettre:
mois_map = {
    1: "Janvier",
    2: "Fﾃｩvrier",
    3: "Mars",
    4: "Avril",
    5: "Mai",
    6: "Juin",
    7: "Juillet",
    8: "Aoﾃｻt",
    9: "Septembre",
    10: "Octobre",
    11: "Novembre",
    12: "Dﾃｩcembre"
}
Data3["Mois"] = Data3["MDEC"].map(mois_map)

In [18]:
#On va maintenant renommer notre variable annﾃｩe : 
Data3 = Data3.rename(columns={
    "ADEC": "Annﾃｩe",
})
display(Markdown("### 汳 Visualisation des 5 premiﾃｨres lignes"))
pd.set_option('display.max_columns', None)
display(Data3.head(5))

### 汳 Visualisation des 5 premiﾃｨres lignes

   Annﾃｩe  MDEC  Dﾃｩcﾃｨs                Rﾃｩgion     Mois
0   2018     1      1             Outre-Mer  Janvier
1   2018     1      1  Auvergne-Rhﾃｴne-Alpes  Janvier
2   2018     1      1       Hauts-de-France  Janvier
3   2018     1      1       Hauts-de-France  Janvier
4   2018     1      1       Hauts-de-France  Janvier

In [19]:
liste=["Annﾃｩe","Rﾃｩgion","Mois","MDEC"]
Base_de_Donnﾃｩes1= Tools.groupeby(Data3,liste,"Dﾃｩcﾃｨs")

### 汳 Dimensions du dataset

(1008, 5)

### 汳 Visualisation des 5 premiﾃｨres lignes

   Annﾃｩe                Rﾃｩgion      Mois  MDEC  Dﾃｩcﾃｨs
0   2018  Auvergne-Rhﾃｴne-Alpes      Aoﾃｻt     8   5475
1   2018  Auvergne-Rhﾃｴne-Alpes     Avril     4   5841
2   2018  Auvergne-Rhﾃｴne-Alpes  Dﾃｩcembre    12   6054
3   2018  Auvergne-Rhﾃｴne-Alpes   Fﾃｩvrier     2   5994
4   2018  Auvergne-Rhﾃｴne-Alpes   Janvier     1   6925

### 1.3 Crﾃｩation de la variable taux de mortalitﾃｩ

In [20]:
#Nettoyage du nom des colonnes polluﾃｩs par des espaces
for df in [Donnﾃｩes_Population]:
    df.columns = (df.columns
                  .str.replace('\xa0', ' ', regex=False)  # NBSP
                  .str.strip())
print(Donnﾃｩes_Population.columns.tolist())
print(Base_de_Donnﾃｩes1.columns.tolist())

['Annﾃｩe', 'Rﾃｩgion', 'Population']
['Annﾃｩe', 'Rﾃｩgion', 'Mois', 'MDEC', 'Dﾃｩcﾃｨs']

In [21]:
# jointure de la variable population par Annﾃｩe/rﾃｩgion: 
liste=["Annﾃｩe","Rﾃｩgion","Population"]
clﾃｩ=["Annﾃｩe","Rﾃｩgion"]
Base_de_Donnﾃｩes2= Tools.left_join(Base_de_Donnﾃｩes1,Donnﾃｩes_Population,liste,clﾃｩ)

### 汳 Dimensions du dataset

(1008, 6)

### 汳 Visualisation des 5 premiﾃｨres lignes

   Annﾃｩe                Rﾃｩgion      Mois  MDEC  Dﾃｩcﾃｨs Population
0   2018  Auvergne-Rhﾃｴne-Alpes      Aoﾃｻt     8   5475  7 994 459
1   2018  Auvergne-Rhﾃｴne-Alpes     Avril     4   5841  7 994 459
2   2018  Auvergne-Rhﾃｴne-Alpes  Dﾃｩcembre    12   6054  7 994 459
3   2018  Auvergne-Rhﾃｴne-Alpes   Fﾃｩvrier     2   5994  7 994 459
4   2018  Auvergne-Rhﾃｴne-Alpes   Janvier     1   6925  7 994 459

In [22]:
Base_de_Donnﾃｩes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Annﾃｩe       1008 non-null   int64
 1   Rﾃｩgion      1008 non-null   object
 2   Mois        1008 non-null   object
 3   MDEC        1008 non-null   int64
 4   Dﾃｩcﾃｨs       1008 non-null   int64
 5   Population  996 non-null    object
dtypes: int64(3), object(3)
memory usage: 47.4+ KB

In [23]:
#Correction de Population au format object en format int64 afin de calculer le taux: 
Base_de_Donnﾃｩes2["Population"] = Base_de_Donnﾃｩes2["Population"] .astype(str) \
                                          .str.replace(r"\D", "", regex=True) \
                                         .replace("", "0")  
display(Markdown("### 汳 Visualisation des 5 premiﾃｨres lignes"))
pd.set_option('display.max_columns', None)
display(Base_de_Donnﾃｩes2.head(5))
Base_de_Donnﾃｩes2["Population"] = pd.to_numeric(Base_de_Donnﾃｩes2["Population"], errors="coerce")

### 汳 Visualisation des 5 premiﾃｨres lignes

   Annﾃｩe                Rﾃｩgion      Mois  MDEC  Dﾃｩcﾃｨs Population
0   2018  Auvergne-Rhﾃｴne-Alpes      Aoﾃｻt     8   5475    7994459
1   2018  Auvergne-Rhﾃｴne-Alpes     Avril     4   5841    7994459
2   2018  Auvergne-Rhﾃｴne-Alpes  Dﾃｩcembre    12   6054    7994459
3   2018  Auvergne-Rhﾃｴne-Alpes   Fﾃｩvrier     2   5994    7994459
4   2018  Auvergne-Rhﾃｴne-Alpes   Janvier     1   6925    7994459

In [24]:
Base_de_Donnﾃｩes2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1008 entries, 0 to 1007
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Annﾃｩe       1008 non-null   int64
 1   Rﾃｩgion      1008 non-null   object
 2   Mois        1008 non-null   object
 3   MDEC        1008 non-null   int64
 4   Dﾃｩcﾃｨs       1008 non-null   int64
 5   Population  1008 non-null   int64
dtypes: int64(4), object(2)
memory usage: 47.4+ KB

In [25]:
#Crﾃｩation de la variable taux de mortalitﾃｩ: 
Base_de_Donnﾃｩes2["Taux_de_Mortalitﾃｩ"] = Base_de_Donnﾃｩes2["Dﾃｩcﾃｨs"] / Base_de_Donnﾃｩes2["Population"]

In [26]:
#Nettoyage des colonnes en trop:
liste=["Dﾃｩcﾃｨs","Population"]
Base_de_Donnﾃｩes3= Tools.suppression_colonnes(Base_de_Donnﾃｩes2,liste)

### 汳 Dimensions du dataset

(1008, 5)

### 汳 Visualisation des 5 premiﾃｨres lignes

   Annﾃｩe                Rﾃｩgion      Mois  MDEC  Taux_de_Mortalitﾃｩ
0   2018  Auvergne-Rhﾃｴne-Alpes      Aoﾃｻt     8           0.000685
1   2018  Auvergne-Rhﾃｴne-Alpes     Avril     4           0.000731
2   2018  Auvergne-Rhﾃｴne-Alpes  Dﾃｩcembre    12           0.000757
3   2018  Auvergne-Rhﾃｴne-Alpes   Fﾃｩvrier     2           0.000750
4   2018  Auvergne-Rhﾃｴne-Alpes   Janvier     1           0.000866

In [27]:
#Derniﾃｨres mises en forme : 
Base_de_Donnﾃｩes4 = Base_de_Donnﾃｩes3.sort_values(by=["Rﾃｩgion", "Annﾃｩe", "MDEC"])
cols = ["Rﾃｩgion", "Annﾃｩe", "Mois", "Taux_de_Mortalitﾃｩ"]
Base_de_Donnﾃｩes = Base_de_Donnﾃｩes4[cols]
display(Base_de_Donnﾃｩes.head(5))

                 Rﾃｩgion  Annﾃｩe     Mois  Taux_de_Mortalitﾃｩ
4  Auvergne-Rhﾃｴne-Alpes   2018  Janvier           0.000866
3  Auvergne-Rhﾃｴne-Alpes   2018  Fﾃｩvrier           0.000750
8  Auvergne-Rhﾃｴne-Alpes   2018     Mars           0.000844
1  Auvergne-Rhﾃｴne-Alpes   2018    Avril           0.000731
7  Auvergne-Rhﾃｴne-Alpes   2018      Mai           0.000651

### 1.4 Dernier check de validation du Data Set

In [28]:
Check3= 14*12*6-len(Base_de_Donnﾃｩes)
Check3

0

In [29]:
Base_de_Donnﾃｩes.info()
#Check d'ﾃｩventuelles NaN sur les variables de notre data set

<class 'pandas.core.frame.DataFrame'>
Index: 1008 entries, 4 to 998
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rﾃｩgion             1008 non-null   object
 1   Annﾃｩe              1008 non-null   int64
 2   Mois               1008 non-null   object
 3   Taux_de_Mortalitﾃｩ  1008 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 39.4+ KB

In [30]:
Tools.Check_variable_dataset(Base_de_Donnﾃｩes)
#Check d'ﾃｩventuelles anomallies sur les valeurs de nos variables

###
汨 Rﾃｩgion (14 modalitﾃｩs)

array(['Auvergne-Rhﾃｴne-Alpes', 'Bourgogne-Franche-Comtﾃｩ', 'Bretagne',
       'Centre-Val de Loire', 'Corse', 'Grand Est', 'Hauts-de-France',
       'Normandie', 'Nouvelle-Aquitaine', 'Occitanie', 'Outre-Mer',
       'Pays de la Loire', "Provence-Alpes-Cﾃｴte d'Azur", 'ﾃ四e-de-France'],
      dtype=object)

###
汨 Annﾃｩe (6 modalitﾃｩs)

array([2018, 2019, 2020, 2021, 2022, 2023], dtype=int64)

###
汨 Mois (12 modalitﾃｩs)

array(['Janvier', 'Fﾃｩvrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
       'Aoﾃｻt', 'Septembre', 'Octobre', 'Novembre', 'Dﾃｩcembre'],
      dtype=object)

###
汨 Taux_de_Mortalitﾃｩ (992 modalitﾃｩs)

array([0.00086622, 0.00074977, 0.00084446, 0.00073063, 0.00065133,
       0.00063794, 0.00067784, 0.00068485, 0.00066921, 0.00069148,
       0.00068147, 0.00075727, 0.00085553, 0.00081028, 0.00078429,
       0.00071292, 0.00068918, 0.0006571 , 0.00068395, 0.00068109,
       0.00064591, 0.00072436, 0.00072772, 0.00078218, 0.00081524,
       0.00072203, 0.00085955, 0.00091624, 0.00069628, 0.00065333,
       0.000674  , 0.00068799, 0.00070371, 0.00093097, 0.00132336,
       0.00101242, 0.0009742 , 0.00078873, 0.00080659, 0.00079895,
       0.00071626, 0.00062137, 0.00067017, 0.00068557, 0.00068459,
       0.00074781, 0.00074966, 0.00092663, 0.00094612, 0.00080097,
       0.00078517, 0.00076875, 0.00073752, 0.0006443 , 0.00075393,
       0.00073421, 0.00068485, 0.00078357, 0.00074707, 0.00093656,
       0.00087453, 0.00073532, 0.0007596 , 0.00071934, 0.00070104,
       0.00064638, 0.00067407, 0.00070799, 0.00066749, 0.00074325,
       0.00075216, 0.00085574, 0.00106952, 0.00093739, 0.00109017,
       0.00091958, 0.00080882, 0.00076679, 0.00081345, 0.00086616,
       0.00078139, 0.00087933, 0.00086438, 0.00093525, 0.00105468,
       0.00099944, 0.00097591, 0.00087005, 0.00086292, 0.00082372,
       0.00084617, 0.00081801, 0.00080696, 0.00087255, 0.00092708,
       0.00090142, 0.00100546, 0.00088268, 0.00115073, 0.00119356,
       0.0008684 , 0.00081308, 0.00081629, 0.00084663, 0.00084021,
       0.00099975, 0.00127923, 0.00134526, 0.00134134, 0.00101529,
       0.00097208, 0.00099672, 0.00086958, 0.00078459, 0.0008178 ,
       0.00085923, 0.00080673, 0.0008903 , 0.00090529, 0.00111349,
       0.00114302, 0.00098717, 0.00100643, 0.00099395, 0.00089516,
       0.0008035 , 0.00094865, 0.00091584, 0.00087091, 0.00098075,
       0.0009326 , 0.0011983 , 0.00112669, 0.00091528, 0.00097635,
       0.00094171, 0.00088814, 0.00086707, 0.00082386, 0.00086136,
       0.00086993, 0.00096492, 0.00097778, 0.00107384, 0.00101607,
       0.00086856, 0.00108142, 0.00090963, 0.00087066, 0.0008011 ,
       0.00086046, 0.00081429, 0.00082419, 0.00084967, 0.00091563,
       0.00091773, 0.00105221, 0.00092731, 0.00090764, 0.00084981,
       0.00086084, 0.00079139, 0.00086114, 0.00082001, 0.000806  ,
       0.00089602, 0.00088201, 0.00096427, 0.00098404, 0.00093988,
       0.00096596, 0.00088149, 0.00081984, 0.00078931, 0.0008065 ,
       0.00086459, 0.00083762, 0.00093395, 0.00093869, 0.00094907,
       0.00100307, 0.00089967, 0.0009692 , 0.00092795, 0.00091175,
       0.00079038, 0.00090556, 0.00086962, 0.00085873, 0.00093885,
       0.00091912, 0.0010558 , 0.00105614, 0.00094658, 0.00101582,
       0.00095418, 0.0008861 , 0.00084812, 0.00096878, 0.00091795,
       0.00083673, 0.00092496, 0.00094892, 0.00123202, 0.00104818,
       0.00087145, 0.00093423, 0.00088569, 0.00088744, 0.00082785,
       0.00081157, 0.00086883, 0.00084471, 0.00091592, 0.00097784,
       0.00103336, 0.00100589, 0.00085819, 0.00098218, 0.00085741,
       0.00081583, 0.00071283, 0.00079134, 0.00082515, 0.00074237,
       0.00082088, 0.00085197, 0.00087724, 0.00101897, 0.00096301,
       0.00090161, 0.00082699, 0.00081028, 0.00077064, 0.00080173,
       0.00078735, 0.00077453, 0.00082349, 0.00086741, 0.00092765,
       0.00096665, 0.00087616, 0.00097792, 0.00104899, 0.00082024,
       0.00077247, 0.00082956, 0.00079422, 0.00078839, 0.0008851 ,
       0.00104277, 0.00111268, 0.00114405, 0.00099056, 0.00093537,
       0.00095092, 0.00089496, 0.00078304, 0.00080791, 0.00082346,
       0.00079042, 0.00088485, 0.00093926, 0.00106789, 0.00107763,
       0.00093082, 0.00094593, 0.00095638, 0.00085567, 0.00078324,
       0.00084638, 0.00086342, 0.00079989, 0.000913  , 0.00092346,
       0.00123063, 0.00108029, 0.00085602, 0.00092652, 0.00086299,
       0.00088197, 0.00077352, 0.00078049, 0.00081419, 0.00082774,
       0.00090599, 0.00090211, 0.0010342 , 0.0009511 , 0.00077093,
       0.00088021, 0.00066459, 0.0007089 , 0.00075025, 0.00068822,
       0.00080637, 0.00075911, 0.00072071, 0.00077979, 0.00092234,
       0.00081365, 0.00073434, 0.00077547, 0.00073141, 0.00074316,
       0.00079897, 0.00069616, 0.00070497, 0.00084303, 0.00090777,
       0.0007943 , 0.00091068, 0.00075065, 0.00072738, 0.0007361 ,
       0.00077393, 0.00083212, 0.00072156, 0.00092813, 0.00088449,
       0.00083794, 0.00084005, 0.00081416, 0.00083142, 0.0008717 ,
       0.00080265, 0.00074224, 0.00076813, 0.00092636, 0.00088896,
       0.00086882, 0.00085156, 0.0010961 , 0.00099921, 0.00086257,
       0.00104476, 0.0008825 , 0.00081133, 0.00078571, 0.00086542,
       0.0009252 , 0.00074016, 0.00084264, 0.00079709, 0.00108462,
       0.00091739, 0.0008073 , 0.00082142, 0.00084118, 0.00076496,
       0.00077061, 0.0007452 , 0.000844  , 0.00087223, 0.00088634,
       0.00077625, 0.0010303 , 0.00093291, 0.00083219, 0.00102029,
       0.00080211, 0.00073671, 0.00068986, 0.00078283, 0.00073328,
       0.00072265, 0.00080319, 0.00077814, 0.00084769, 0.00093085,
       0.00087398, 0.00085886, 0.00077895, 0.00077229, 0.00072945,
       0.00075393, 0.00073989, 0.00073233, 0.00077805, 0.00081332,
       0.00085724, 0.00089849, 0.00082245, 0.00126918, 0.00127367,
       0.0007696 , 0.00072465, 0.00072537, 0.00077337, 0.00072483,
       0.00082299, 0.00097723, 0.00112698, 0.0011287 , 0.00091723,
       0.00093144, 0.00088379, 0.00080341, 0.00071296, 0.00073077,
       0.00075378, 0.00075954, 0.00084549, 0.00084818, 0.00101577,
       0.00100844, 0.00086617, 0.00091689, 0.00088992, 0.00080089,
       0.0007624 , 0.00082085, 0.00079747, 0.00077049, 0.00089261,
       0.00087607, 0.00112588, 0.00100046, 0.00080386, 0.00088973,
       0.00081574, 0.00078585, 0.00074967, 0.00074264, 0.00076659,
       0.00074895, 0.00086003, 0.0008458 , 0.00098389, 0.00091304,
       0.00080811, 0.00098316, 0.00075232, 0.00074299, 0.00067837,
       0.00074832, 0.00068137, 0.0006812 , 0.00079046, 0.00074116,
       0.00079462, 0.00091175, 0.00084047, 0.0008105 , 0.0007269 ,
       0.00077086, 0.00068827, 0.00070509, 0.00070625, 0.00067211,
       0.00075221, 0.00076537, 0.00083248, 0.00087333, 0.00078113,
       0.00096937, 0.00099721, 0.00077096, 0.00070577, 0.00069993,
       0.00079113, 0.00074495, 0.00088383, 0.00097904, 0.0009832 ,
       0.0010148 , 0.00088986, 0.00095742, 0.00092856, 0.00083065,
       0.00068821, 0.00073308, 0.00071223, 0.00073291, 0.00079896,
       0.0008068 , 0.00094174, 0.00095351, 0.00084582, 0.00085465,
       0.00087082, 0.00075164, 0.00070396, 0.00079448, 0.00076947,
       0.00073397, 0.00085299, 0.00082015, 0.00106786, 0.0009704 ,
       0.0007634 , 0.00081799, 0.0007806 , 0.00078544, 0.00072818,
       0.00069162, 0.00071416, 0.00070414, 0.00080831, 0.00081298,
       0.00092834, 0.00098874, 0.00086312, 0.00103923, 0.00086041,
       0.00080812, 0.0007426 , 0.00080061, 0.00076364, 0.0007387 ,
       0.00084839, 0.00083847, 0.00087514, 0.00098946, 0.00097984,
       0.00087428, 0.00081232, 0.0008442 , 0.00075187, 0.00079067,
       0.00076992, 0.00079428, 0.00083097, 0.00087879, 0.00094586,
       0.00095774, 0.0008546 , 0.00094542, 0.00097158, 0.00082634,
       0.00077101, 0.00077732, 0.0008555 , 0.00083055, 0.00094872,
       0.00104164, 0.00106209, 0.00105229, 0.00094352, 0.00097267,
       0.00096095, 0.00089755, 0.00078156, 0.00085307, 0.00081491,
       0.00082152, 0.00089905, 0.00089604, 0.00101774, 0.00105329,
       0.00092121, 0.00094038, 0.00096404, 0.00083466, 0.00085533,
       0.00091433, 0.00086761, 0.00083616, 0.00095446, 0.00090923,
       0.00128868, 0.00109926, 0.00081988, 0.00090941, 0.00084563,
       0.00086479, 0.0008079 , 0.00076298, 0.00081359, 0.00084234,
       0.0009148 , 0.00090312, 0.00099715, 0.00104302, 0.0009589 ,
       0.00108633, 0.0009201 , 0.0008609 , 0.00084067, 0.00086976,
       0.00085321, 0.00082746, 0.00089451, 0.00090338, 0.00092947,
       0.00109329, 0.00099629, 0.00095586, 0.00087799, 0.0008933 ,
       0.00083324, 0.0008547 , 0.00084189, 0.00084671, 0.0008953 ,
       0.00092358, 0.00098731, 0.00101874, 0.00091151, 0.0009957 ,
       0.00088566, 0.00083759, 0.00081091, 0.00086278, 0.00084389,
       0.00089908, 0.00096404, 0.00105254, 0.00110127, 0.00115218,
       0.00098478, 0.00098347, 0.00095068, 0.00093437, 0.00082958,
       0.00086978, 0.00091196, 0.00087983, 0.00097968, 0.0009861 ,
       0.00113488, 0.0011411 , 0.00107044, 0.00103004, 0.00100828,
       0.00090228, 0.00085468, 0.00098718, 0.00093958, 0.00089083,
       0.00097017, 0.00097573, 0.0012296 , 0.00111601, 0.0009365 ,
       0.00100084, 0.00091695, 0.00088486, 0.00081677, 0.00083925,
       0.00089757, 0.00087134, 0.00092754, 0.00093715, 0.00108083,
       0.00102676, 0.00087384, 0.00097392, 0.00082219, 0.00078736,
       0.00074318, 0.00080061, 0.00083374, 0.00076153, 0.00081064,
       0.00083273, 0.00087843, 0.00101109, 0.00092598, 0.00088789,
       0.00081423, 0.0007839 , 0.00075912, 0.00077496, 0.00078592,
       0.00075558, 0.00082738, 0.00086176, 0.00089008, 0.00093807,
       0.00081755, 0.00091966, 0.00087044, 0.00076884, 0.00075745,
       0.00079562, 0.00080382, 0.00082441, 0.00098126, 0.00102913,
       0.00096335, 0.00106722, 0.00089934, 0.00089967, 0.00090233,
       0.00085783, 0.00076451, 0.00078394, 0.00088124, 0.00082462,
       0.000903  , 0.00087676, 0.00106672, 0.00110973, 0.00096551,
       0.00092275, 0.00090318, 0.00081931, 0.00080533, 0.00091239,
       0.00090121, 0.00081783, 0.00088739, 0.00089825, 0.00111566,
       0.00104407, 0.00088691, 0.00088168, 0.00079853, 0.00080163,
       0.00077648, 0.00079346, 0.00083545, 0.00086306, 0.00087956,
       0.00098722, 0.0005414 , 0.00048368, 0.00054094, 0.00048601,
       0.00051021, 0.00050695, 0.00051999, 0.00050463, 0.00051114,
       0.00053163, 0.00048089, 0.00051208,        inf, 0.00050398,
       0.00049846, 0.00056566, 0.00050444, 0.00054587, 0.00054448,
       0.00056197, 0.00058729, 0.00061767, 0.00058407, 0.00054218,
       0.00053896, 0.00056846, 0.00053789, 0.00060542, 0.00055432,
       0.00058032, 0.00060952, 0.00064511, 0.0012049 , 0.00082167,
       0.00064328, 0.00055751, 0.00060998, 0.00079406, 0.00066352,
       0.00063371, 0.00055783, 0.00061293, 0.00063416, 0.00064365,
       0.00066713, 0.00061745, 0.00057092, 0.00054382, 0.00060932,
       0.0005999 , 0.00050209, 0.00054561, 0.00052093, 0.00055324,
       0.00059676, 0.00058689, 0.00061202, 0.00062458, 0.00058913,
       0.00052766, 0.0005824 , 0.00088327, 0.00076744, 0.00091209,
       0.00078701, 0.00073676, 0.00070212, 0.0007357 , 0.00070555,
       0.00068625, 0.00075844, 0.00077934, 0.00079811, 0.00087851,
       0.00081835, 0.00079575, 0.00075109, 0.00076081, 0.00073244,
       0.00072981, 0.00070958, 0.00069907, 0.00077973, 0.00083805,
       0.00084409, 0.00088332, 0.00079747, 0.00085436, 0.00084731,
       0.0007411 , 0.00069283, 0.00069544, 0.00076276, 0.00073876,
       0.00080713, 0.00090081, 0.0009316 , 0.00097743, 0.00082252,
       0.00086015, 0.00079839, 0.00076855, 0.0006876 , 0.00074883,
       0.00075999, 0.00073975, 0.00080695, 0.00084094, 0.000952  ,
       0.00090302, 0.00083754, 0.00085971, 0.00087415, 0.00078289,
       0.00074319, 0.00085404, 0.00080454, 0.00071948, 0.00085095,
       0.00080635, 0.00110332, 0.0009609 , 0.00075697, 0.00081674,
       0.00077057, 0.00079032, 0.00072286, 0.00070798, 0.00071465,
       0.00075159, 0.00079365, 0.00082495, 0.00092961, 0.00104951,
       0.00087911, 0.00095036, 0.0008142 , 0.00079678, 0.00076037,
       0.00085754, 0.00077006, 0.00083161, 0.00082765, 0.00091473,
       0.00102852, 0.00094822, 0.00090138, 0.00081124, 0.00079746,
       0.00077464, 0.00082423, 0.00080927, 0.00082246, 0.00082069,
       0.0008819 , 0.00092795, 0.00095731, 0.00085042, 0.00096731,
       0.0009373 , 0.00078668, 0.00077746, 0.00080276, 0.00083316,
       0.00084493, 0.00106734, 0.0011707 , 0.00110892, 0.00122995,
       0.00105678, 0.00104001, 0.00097312, 0.00085143, 0.00079117,
       0.0008251 , 0.00093275, 0.00090623, 0.00089238, 0.00088614,
       0.00116326, 0.00119857, 0.00096242, 0.00096435, 0.00088563,
       0.00082084, 0.00078119, 0.00095932, 0.00092025, 0.00084521,
       0.0008748 , 0.00089279, 0.00114229, 0.00106712, 0.00088712,
       0.00088673, 0.00081704, 0.00081242, 0.00078123, 0.00082879,
       0.00084284, 0.00079567, 0.00085439, 0.00089713, 0.00103651,
       0.00061776, 0.00053908, 0.00061383, 0.00051042, 0.00050796,
       0.00046457, 0.00049789, 0.00044066, 0.00047407, 0.00053024,
       0.00052385, 0.00056782, 0.00063731, 0.00057093, 0.00053382,
       0.00050381, 0.00049957, 0.00048277, 0.0004937 , 0.00045953,
       0.00044844, 0.00053659, 0.00053651, 0.00057647, 0.00059559,
       0.00052494, 0.00080909, 0.00116804, 0.00053994, 0.00047247,
       0.00045812, 0.00048281, 0.00050164, 0.00062183, 0.00064929,
       0.00061605, 0.00064016, 0.00060094, 0.00064211, 0.00065437,
       0.00055345, 0.00045895, 0.00046967, 0.00048128, 0.00049094,
       0.0005515 , 0.00054355, 0.00064576, 0.00072902, 0.00054123,
       0.00054786, 0.00054794, 0.00050844, 0.00047743, 0.00052072,
       0.00049035, 0.0004813 , 0.00058574, 0.00056046, 0.00072951,
       0.0006418 , 0.00050994, 0.00056176, 0.00051365, 0.00051091,
       0.00047818, 0.00047053, 0.00046803, 0.00048463, 0.00054089,
       0.00054331, 0.00061117])

In [31]:
print(Data2["Rﾃｩgion"].unique())#Check

['Outre-Mer' 'Auvergne-Rhﾃｴne-Alpes' 'Hauts-de-France'
 "Provence-Alpes-Cﾃｴte d'Azur" 'Grand Est' 'Occitanie' 'Normandie'
 'Nouvelle-Aquitaine' 'Centre-Val de Loire' 'Bourgogne-Franche-Comtﾃｩ'
 'Bretagne' 'Corse' 'Pays de la Loire' 'ﾃ四e-de-France']

In [32]:
#On va aussi crﾃｩer une base diffﾃｩrentes pour les donnﾃｩes 2024-2025: 
sep=";"
chemin20242025="C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/DC_20242025_det.csv"
Donnﾃｩes_Mortalitﾃｩ_20242025=Tools.import_csv(chemin20242025,sep)
Donnﾃｩes_Mortalitﾃｩ_20242025.rename(columns={Donnﾃｩes_Mortalitﾃｩ_20242025.columns[0]:"Rﾃｩgion"},inplace=True)
#On renomme notre variable mois en lettre:
region_map = {
    1: "Auvergne-Rhﾃｴne-Alpes",
    2: "Bourgogne-Franche-Comtﾃｩ",
    3: "Bretagne",
    4: "Centre-Val de Loire",
    5: "Grand Est",
    6: "Hauts-de-France",
    7: "ﾃ四e-de-France",
    8: "Normandie",
    9: "Nouvelle-Aquitaine",
    10: "Occitanie",
    11: "Pays de la Loire",
    12: "Provence-Alpes-Cﾃｴte d'Azur",
}
Donnﾃｩes_Mortalitﾃｩ_20242025["Rﾃｩgion"] = Donnﾃｩes_Mortalitﾃｩ_20242025["Rﾃｩgion"].map(region_map)
#Crﾃｩation variable annﾃｩe :
Donnﾃｩes_Mortalitﾃｩ_20242025["Annﾃｩe"] = Donnﾃｩes_Mortalitﾃｩ_20242025["Date"].str[:4].astype("int64")
display(Donnﾃｩes_Mortalitﾃｩ_20242025.head())
# jointure de la variable population par Annﾃｩe/rﾃｩgion: 
sep=";"
chemin20242025_Population="C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/Donnﾃｩes_Population2024_2025.csv"
Population_20242025=Tools.import_csv(chemin20242025_Population,sep)
Population_20242025.rename(columns={Population_20242025.columns[0]:"Annﾃｩe"},inplace=True)
Population_20242025.rename(columns={Population_20242025.columns[1]:"Rﾃｩgion"},inplace=True)
Population_20242025["Rﾃｩgion"] = Population_20242025["Rﾃｩgion"].map(region_map)
liste=["Annﾃｩe","Rﾃｩgion","Population"]
clﾃｩ=["Annﾃｩe","Rﾃｩgion"]
display(Population_20242025)
Donnee_20242025_1= Tools.left_join(Donnﾃｩes_Mortalitﾃｩ_20242025,Population_20242025,liste,clﾃｩ)
#Crﾃｩation de la variable taux de mortalitﾃｩ:
Donnee_20242025_1["y"]=Donnee_20242025_1["y"].astype("int64")
Donnee_20242025_1["Population"]=Donnee_20242025_1["Population"].astype("int64")
Donnee_20242025_1["Taux_de_Mortalitﾃｩ"] = Donnee_20242025_1["y"] / Donnee_20242025_1["Population"]
l=["y","Annﾃｩe","Population"]
Donnee_20242025_1= Tools.suppression_colonnes(Donnee_20242025_1,l)
display(Donnee_20242025_1)

### 汳 Dimensions du dataset

(216, 3)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ﾃｯﾂｻﾂｿGﾃδｩographie     Date     y
0               1  2024-01  7283
1               1  2024-02  6129
2               1  2024-03  5972
3               1  2024-04  5679
4               1  2024-05  5733

                 Rﾃｩgion     Date     y  Annﾃｩe
0  Auvergne-Rhﾃｴne-Alpes  2024-01  7283   2024
1  Auvergne-Rhﾃｴne-Alpes  2024-02  6129   2024
2  Auvergne-Rhﾃｴne-Alpes  2024-03  5972   2024
3  Auvergne-Rhﾃｴne-Alpes  2024-04  5679   2024
4  Auvergne-Rhﾃｴne-Alpes  2024-05  5733   2024

### 汳 Dimensions du dataset

(24, 3)

### 汳 Visualisation des 5 premiﾃｨres lignes

   ﾃｯﾂｻﾂｿAnnﾃδｩe  Rﾃδｩgion  Population
0       2025        1     8260096
1       2025        2     2793080
2       2025        3     3475895
3       2025        4     2581479
4       2025        5     5544051

    Annﾃｩe                      Rﾃｩgion  Population
0    2025        Auvergne-Rhﾃｴne-Alpes     8260096
1    2025     Bourgogne-Franche-Comtﾃｩ     2793080
2    2025                    Bretagne     3475895
3    2025         Centre-Val de Loire     2581479
4    2025                   Grand Est     5544051
5    2025             Hauts-de-France     5973933
6    2025               ﾃ四e-de-France    12450849
7    2025                   Normandie     3341312
8    2025          Nouvelle-Aquitaine     6191209
9    2025                   Occitanie     6201587
10   2025            Pays de la Loire     3936719
11   2025  Provence-Alpes-Cﾃｴte d'Azur     5241587
12   2024        Auvergne-Rhﾃｴne-Alpes     8228802
13   2024     Bourgogne-Franche-Comtﾃｩ     2797160
14   2024                    Bretagne     3458588
15   2024         Centre-Val de Loire     2582015
16   2024                   Grand Est     5549724
17   2024             Hauts-de-France     5982538
18   2024               ﾃ四e-de-France    12430351
19   2024                   Normandie     3341043
20   2024          Nouvelle-Aquitaine     6166602
21   2024                   Occitanie     6162302
22   2024            Pays de la Loire     3918256
23   2024  Provence-Alpes-Cﾃｴte d'Azur     5218341

### 汳 Dimensions du dataset

(216, 5)

### 汳 Visualisation des 5 premiﾃｨres lignes

                 Rﾃｩgion     Date     y  Annﾃｩe  Population
0  Auvergne-Rhﾃｴne-Alpes  2024-01  7283   2024     8228802
1  Auvergne-Rhﾃｴne-Alpes  2024-02  6129   2024     8228802
2  Auvergne-Rhﾃｴne-Alpes  2024-03  5972   2024     8228802
3  Auvergne-Rhﾃｴne-Alpes  2024-04  5679   2024     8228802
4  Auvergne-Rhﾃｴne-Alpes  2024-05  5733   2024     8228802

### 汳 Dimensions du dataset

(216, 3)

### 汳 Visualisation des 5 premiﾃｨres lignes

                 Rﾃｩgion     Date  Taux_de_Mortalitﾃｩ
0  Auvergne-Rhﾃｴne-Alpes  2024-01           0.000885
1  Auvergne-Rhﾃｴne-Alpes  2024-02           0.000745
2  Auvergne-Rhﾃｴne-Alpes  2024-03           0.000726
3  Auvergne-Rhﾃｴne-Alpes  2024-04           0.000690
4  Auvergne-Rhﾃｴne-Alpes  2024-05           0.000697

                         Rﾃｩgion     Date  Taux_de_Mortalitﾃｩ
0          Auvergne-Rhﾃｴne-Alpes  2024-01           0.000885
1          Auvergne-Rhﾃｴne-Alpes  2024-02           0.000745
2          Auvergne-Rhﾃｴne-Alpes  2024-03           0.000726
3          Auvergne-Rhﾃｴne-Alpes  2024-04           0.000690
4          Auvergne-Rhﾃｴne-Alpes  2024-05           0.000697
..                          ...      ...                ...
211  Provence-Alpes-Cﾃｴte d'Azur  2025-02           0.000851
212  Provence-Alpes-Cﾃｴte d'Azur  2025-03           0.000859
213  Provence-Alpes-Cﾃｴte d'Azur  2025-04           0.000810
214  Provence-Alpes-Cﾃｴte d'Azur  2025-05           0.000810
215  Provence-Alpes-Cﾃｴte d'Azur  2025-06           0.000747

[216 rows x 3 columns]

<div class="alert alert-block alert-warning">
<b> Remarque : </b> <br>
Toutes les sorties de nos checks sont cohﾃｩrentes, on peut donc passer ﾃ l'ﾃｩtape suivante
</div>

### 1.5 Export de notre base en CSV

In [33]:
#Export train set : 
chemin_export_Base_de_Donnﾃｩes="C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/Base_de_Donnﾃｩes.csv"
Tools.export_csv(Base_de_Donnﾃｩes,chemin_export_Base_de_Donnﾃｩes,sep)

In [34]:
#Export test set : 
chemin_export_Base_de_Donnﾃｩes="C:/Users/Pierre Monnin/OneDrive/Desktop/TIDE/Apprentissage statistique non linﾃｩaire/Projet/DATA BASE/Donnﾃｩes_Mortalitﾃｩ_20242025.csv"
Donnﾃｩes_Mortalitﾃｩ_20242025=Donnee_20242025_1
Tools.export_csv(Donnﾃｩes_Mortalitﾃｩ_20242025,chemin_export_Base_de_Donnﾃｩes,sep)